.modal-header {
    font-family: 'Titillium Web', sans-serif;
}

.poke-card {
    font-family: 'Titillium Web', sans-serif;
    border: none;
}

.imagen-card {
    background-color: rgb(242, 242, 242);
}


.gray-header {
    background-color: Gainsboro;
  }

